<section id="customer-reviews" class="section customer-reviews">
  <div class="container container__customer-reviews">

    <img class="customer-reviews__img"
      srcset="./images/customer-reviews/girl.png 1x, ./images/customer-reviews/girl@2x.png 2x"
      src="./images/customer-reviews/girl.png" alt="girl" />

    <div class="customer-reviews__block-text">
      <p class="customer-reviews__content">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
        accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>

    <div class="customer-reviews__block-name">
      <p class="customer-reviews__customer">Emily, Los Angeles</p>
      <img class="slider-img" src="./images/customer-reviews/hr-dots.png" alt="" width="72" height="12" />
    </div>
  </div>
</section>