<div class="wrapper">
   <div class="hero container">
      <div class="hero__wrapper">
         <h1 class="hero__title">
            ICE CREAM <br>
            MADE WITH <br>
            <span class="passion">PASSION</span>
         </h1>
         <ul class="hero__buttons">
            <li class="hero__item">
               <a href="#Products" class="hero__button">
                  Products
               </a>
            </li>
            <li class="hero__item">
               <a href="#How-it-made" class="hero__button hero__button--white">
                  How it’s made?
               </a>
            </li>
         </ul>
      </div>
      <img class="hero__ice-cream" srcset="./images/hero/ice-cream-1x.png 1x, ./images/hero/ice-cream-2x.png 2x"
         src="./images/hero/ice-cream-1x.png" alt="ice-cream">

      <img class="hero__ellipse" src="./images/hero/ellipse.png" alt="ellipse">

      <img class="hero__girl" srcset="./images/hero/girl-1x.png 1x, ./images/hero/girl-2x.png 2x"
         src="./images/hero/girl-1x.png" alt="girl">

      <img class="hero__milk" srcset="./images/hero/jag-of-milk-1x.png 1x, ./images/hero/jag-of-milk-2x.png 2x"
         src="./images/hero/jag-of-milk-1x.png" alt="girl">

      <div class="hero__numbers">
         <svg class="hero__number">
            <use href="./images/sprite/sprite.svg#icon-16"></use>
         </svg>
         <svg class="hero__ellipse-white">
            <use href="./images/sprite/sprite.svg#icon-Ellipse"></use>
         </svg>
         <p class="hero__numbers-text"> cafes </p>
      </div>

      <div class="hero__numbers hero__numbers--23">
         <svg class="hero__number hero__number--23">
            <use href="./images/sprite/sprite.svg#icon-23"></use>
         </svg>
         <svg class="hero__ellipse-white">
            <use href="./images/sprite/sprite.svg#icon-Ellipse"></use>
         </svg>
         <p class="hero__numbers-text hero__numbers-text--23"> food trucks </p>
      </div>

      <div class="hero__milk-text">
         <p class="text">
            Lorem ipsum dolor sit amet,<br>
            consectetur adipiscing elit,<br>
            sed do eiusmod tempor <br>
            incididunt ut labore et
         </p>

         <a class="hero__milk-link" href="#">
            <svg class="hero__arrow">
               <use href="./images/sprite/sprite.svg#icon-arrow"></use>
            </svg>
         </a>
      </div>
   </div>
</div>